@model SpecificationDeleteViewModel
@{
    ViewBag.Title = "حذف زیرشاخه مشخصه فنی";
}

@section breadcrumb {
    <!-- Start breadcrumb -->
    <nav page-breadcrumbs="@ViewBag.Breadcrumbs"></nav>
    <!-- End breadcrumb -->
}

<div class="card my-5 shadow-lg text-right rounded-lg">
    <div class="card-header text-right d-flex justify-content-between align-items-center border-bottom-0">
        <h3 class="mb-0">حذف زیرشاخه مشخصه فنی</h3>
        <div>
            <a asp-area="Admin" asp-controller="Specifications" asp-action="ListSubGroups" asp-route-groupId="@Model.GroupId" class="btn btn-outline-success btn-sm" role="button">لیست زیرشاخه های مشخصه فنی</a>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">حذف زیرشاخه مشخصه فنی "@Model.Title"</h5>
        <p class="card-text">آیا از حذف زیرشاخه <span class="text-danger"><i>"@Model.Title"</i></span> در مشخصه فنی <span class="text-danger"><i>"@Model.GroupTitle"</i></span> اطمینان دارید؟</p>
        <small class="small text-danger">در صورتی که از ادامه این عملیات اطمینان دارید اقدام به حذف زیرشاخه مورد نظر کنید.</small>
        <form asp-area="Admin" asp-controller="Specifications" asp-action="DeleteSubGroup" method="post" class="mt-3">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GroupId" />
            <button type="submit" class="btn btn-outline-danger shadow btn-block">حذف مشخصه فنی</button>
        </form>
    </div>
</div>