@model SpecificationListViewModel
@{
    ViewBag.Title = "لیست زیرشاخه های مشخصه فنی";
    int index = 1;
}

@section breadcrumb {
    <!-- Start breadcrumb -->
    <nav page-breadcrumbs="@ViewBag.Breadcrumbs"></nav>
    <!-- End breadcrumb -->
}

<div class="card mb-5">
    <div class="card-header text-right d-flex justify-content-between align-items-center border-bottom-0">
        <h3 class="mb-0">لیست زیرشاخه های مشخصه فنی @ViewBag.SpecificationGroupTitle</h3>
        <div>
            <a asp-area="Admin" asp-controller="Specifications" asp-action="AddSubGroup" asp-route-groupId="@Model.GroupId" class="btn btn-outline-success btn-sm" role="button">افزودن زیرشاخه</a>
            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="collapse" data-target="#collapse-search" aria-expanded="false" aria-controls="collapse-search">فیلتر</button>
        </div>
    </div>
    <div class="card-body">
        <div class="collapse mb-3" id="collapse-search">
            <div class="card text-right border-0 filters-card rounded-lg">
                <div class="card-body">
                    <form method="get" asp-area="Admin" asp-controller="Specifications" asp-action="ListSubGroups">
                        <input type="hidden" name="groupId" value="@Model.GroupId" />
                        <div class="row">
                            <div class="form-group col-12 col-md-6 col-xl-4">
                                <label for="group-id">شناسه</label>
                                <input type="text" class="form-control" name="id" id="group-id" />
                            </div>
                            <div class="form-group col-12 col-md-6 col-xl-4">
                                <label for="group-title">عنوان</label>
                                <input type="text" class="form-control" name="title" id="group-title" />
                            </div>
                            @*<div class="form-group col-12 col-md-6 col-xl-4">
                                    <label for="group-slug">اسلاگ</label>
                                    <input type="text" class="form-control" name="slug" id="group-slug"/>
                                </div>*@
                            <div class="form-group col-12 col-md-6 col-xl-4 row">
                                <label for="" class="col-form-label pt-0 col-12">وضعیت</label>
                                <div class="form-check custom-form-check col-3">
                                    <input class="form-check-input" type="radio" name="state" id="enable-state" value="1" checked="checked">
                                    <label class="form-check-label" for="enable-state">فعال</label>
                                </div>
                                <div class="form-check custom-form-check col-3">
                                    <input class="form-check-input" type="radio" name="state" id="disable-state" value="2">
                                    <label class="form-check-label" for="disable-state">غیرفعال</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-left">فیلتر زیرشاخه ها</button>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-hover table-striped text-right table-responsive-lg">
            <thead class="bg-primary">
                <tr>
                    <th>#</th>
                    <th>عنوان</th>
                    <th>وضعیت</th>
                    <th>ایجاد کننده</th>
                    <th>آخرین ویرایش</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Specifications)
                {
                    <tr>
                        <td class="align-middle">@index</td>
                        <td class="align-middle">
                            <span>@item.Title</span>
                            <br />
                            <span class="text-muted">شناسه: @item.Id</span>
                        </td>
                        <td class="align-middle @(item.State == State.Enable ? "text-success" : "text-danger")">@(item.State == State.Enable ? "فعال" : "غیرفعال")</td>
                        <td class="align-middle">
                            <span>@item.Creator?.FullName</span>
                            <br />
                            <span class="text-muted">@item.CreateDate?.ToPersianDate()</span>
                        </td>
                        <td class="align-middle">
                            <span>@(item.LastModifier?.FullName ?? "--")</span>
                            <br />
                            <span class="text-muted">@(item.LastModifyDate?.ToPersianDate() ?? "--")</span>
                        </td>
                        <td class="align-middle text-left">
                            <div class="dropright">
                                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuButton">
                                    <a asp-area="Admin" asp-controller="Specifications" asp-action="EditSubGroup" asp-route-id="@item.Id" asp-route-groupId="@Model.GroupId" class="dropdown-item">ویرایش</a>
                                    <a asp-area="Admin" asp-controller="Specifications" asp-action="DeleteSubGroup" asp-route-id="@item.Id" asp-route-groupId="@Model.GroupId" class="dropdown-item text-danger">حذف</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
        <!-- Start pagiantion -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mb-0">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End pagiantion -->
    </div>
</div>