@model EditProductItemViewModel
@{
    ViewBag.Title = "ویرایش قلم کالای جدید";
    int index = 0;
}

@section breadcrumb {
    <!-- Start breadcrumb -->
    <nav page-breadcrumbs="@ViewBag.Breadcrumbs"></nav>
    <!-- End breadcrumb -->
}

<div class="card mb-5">
    <div class="card-header text-right d-flex justify-content-between align-items-center border-bottom-0">
        <h3 class="mb-0">ویرایش قلم کالا</h3>
        <div>
            <a asp-area="Admin" asp-controller="Products" asp-route-productId="@Model.ProductId" asp-route-productName="@Model.ProductName" asp-action="Items" class="btn btn-outline-success btn-sm" role="button">لیست اقلام کالا</a>
        </div>
    </div>
    <div class="card-body">
        <form method="post" asp-area="Admin" asp-controller="Products" asp-route-productId="@Model.ProductId" asp-route-productName="@Model.ProductName" asp-action="EditItem" asp-route-id="@Model.Id" class="text-right">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProductId" />
            <div class="row">
                <div asp-validation-summary="All" class="col-12 text-danger"></div>
                @foreach (var item in Model.Tags)
                {
                    <div class="form-group col-12 col-md-6 col-xl-4">
                        <label for="tagValue_@index">@item.Title</label>
                        <select id="tagValue_@index" class="form-control" asp-items="item.TagValues" name="ReturnIds[@item.Id]">
                            <option selected disabled>انتخاب کنید...</option>
                        </select>
                    </div>
                    index++;
                }
                <div class="form-group col-12 col-md-6 col-xl-4">
                    <label asp-for="Price">قیمت</label>
                    <input type="number" class="form-control" asp-for="Price" autocomplete="off" />
                </div>
                <div class="form-group col-12 col-md-6 col-xl-4">
                    <label asp-for="Discount">تخفیف</label>
                    <input type="number" class="form-control" autocomplete="off" min="0" max="100" asp-for="Discount" />
                </div>
                <div class="form-group col-12 col-md-6 col-xl-4">
                    <label asp-for="Quantity">تعداد</label>
                    <input type="number" class="form-control" autocomplete="off" asp-for="Quantity" />
                </div>
                <div class="form-group col-12 col-md-6 col-xl-4 row">
                    <label for="" class="col-form-label pt-0 col-12">وضعیت</label>
                    <div class="form-check custom-form-check col-3">
                        @if (Model.State == State.Enable)
                        {
                            <input class="form-check-input" type="radio" asp-for="State" id="enable-state" value="1" checked="checked">
                        }
                        else
                        {
                            <input class="form-check-input" type="radio" asp-for="State" id="enable-state" value="1">
                        }
                        <label class="form-check-label" for="enable-state">فعال</label>
                    </div>
                    <div class="form-check custom-form-check col-3">
                        @if (Model.State == State.Disable)
                        {
                            <input class="form-check-input" type="radio" asp-for="State" id="disable-state" value="2" checked="checked">
                        }
                        else
                        {
                            <input class="form-check-input" type="radio" asp-for="State" id="disable-state" value="2">
                        }
                        <label class="form-check-label" for="disable-state">غیرفعال</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-left">ذخیره</button>
        </form>
    </div>
</div>